# @RequiredArgsConstructor가 만드는 생성자 파라미터로 Spring 주입 애노테이션을 복사한다.
# 이 설정이 없으면 필드에 붙인 @Qualifier가 생성자에 전달되지 않아,
# 같은 타입 빈이 둘 이상일 때 주입이 모호해져 기동에 실패한다.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
